        #dragon-data {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 5em;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 20%;
            border: 1px solid black;
        }
        .image-path {
            width: 100px;
            height: 100px;
        }
        a{
            text-decoration: none;
            color: cyan;
        }
        .detail-img{
            width: 20em;
        }
        #dragon-details{
            display: flex;
            flex-direction: column;
            gap: .5em;
            justify-content: center;
            align-items: center;
        }